import {doubleNaN, doubleInf, doubleNegInf, doubleEpsilon} from "std/math/consts";
{%- for test_name, test_data in item.method_test_index_data.items() %}
{% include 'utils/test_function_template.j2' with context %}
{%endfor %}
{% include 'utils/test_main_function.j2' with context %}
{% include 'utils/test_check_test_float_result.j2' with context %}
  
