function  {{.item.method_name}}{{.test_name|capitalize}}() : boolean {
{%- for param_name, param_data in test_data.items() %}
  let {{.param_name}} : {{.item.method_signature[param_name]}} = {{.param_data}}
{%- endfor %}
  let actual : {{.item.result_type}};
  try {
{%- if item.method_nature == "function" %}
      actual = {{.item.method_name}}({{.item.method_signature.keys() | join(", ")}});
{%- else %}
      {{.item.method_name}}({{.item.method_signature.keys() | join(", ")}});
      actual = {{.item.result}}
{%- endif %}
  }  catch (e : {{.item.method_expected_exception}})  {
       console.println("Expected exception was catched")
       return true;
  } catch (e) {
       console.println("Unexpected exception was catched");
       console.println(e.toString());
       return false;
  }
  return false;
}
