/ark-third-party
**/compile_commands.json
/build**
build_*
/out/
.vscode
.idea
*cmake-build-*
cts-generated
.dir-locals.el
artifacts/
cscope*
tags
.byebug_history
.cache
*.swp
static_core/extras/*
static_core/jenkins-ci
static_core/libllvmaot
static_core/scripts/*
static_core/platforms/*
static_core/plugins/accord
static_core/plugins/java
static_core/plugins/cangjie
static_core/plugins/ecmascript
static_core/plugins/hz_ecmascript
static_core/plugins/tests_java_ecmascript
