/**
 * Copyright (c) 2026 Huawei Device Co., Ltd.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#include <array>
#include <cfloat>
#include <climits>
#include <cstdint>
#include <string>

#include "plugins/ets/tests/ani/ani_gtest/verify_ani_gtest.h"

namespace ark::ets::ani::verify::testing {

// NOLINTBEGIN(readability-magic-numbers)

class PrimitiveUnbox{{ Type }}Test : public VerifyAniTest {
public:
    static constexpr ani_{{ type }} TEST_VALUE = {{ test_value }};
{% if type == "char" %}
    static constexpr ani_char OPTIONAL_VALUE = 'z';
{% else %}
    static constexpr ani_{{ type }} OPTIONAL_VALUE = TEST_VALUE;
{% endif %}
{% if type == "byte" %}
    static constexpr ani_char WRONG_VALUE = 'A';
{% else %}
    static constexpr auto WRONG_VALUE = static_cast<ani_byte>(7);
{% endif %}

    ani_object BoxValue(ani_{{ type }} value)
    {
        ani_object object {};
        EXPECT_EQ(env_->Primitive_Box_{{ Type }}(value, &object), ANI_OK);
        EXPECT_NE(object, nullptr);
        return object;
    }

    ani_object BoxWrongTypeValue()
    {
        ani_object object {};
{% if type == "byte" %}
        EXPECT_EQ(env_->Primitive_Box_Char(WRONG_VALUE, &object), ANI_OK);
{% else %}
        EXPECT_EQ(env_->Primitive_Box_Byte(WRONG_VALUE, &object), ANI_OK);
{% endif %}
        EXPECT_NE(object, nullptr);
        return object;
    }

    static void AssertIs{{ Type }}(ani_env *env, ani_object boxed)
    {
        ani_class typeClass {};
        ASSERT_EQ(env->FindClass("std.core.{{ Type }}", &typeClass), ANI_OK);

        ani_boolean isExpectedType = ANI_FALSE;
        ASSERT_EQ(env->Object_InstanceOf(boxed, typeClass, &isExpectedType), ANI_OK);
        ASSERT_EQ(isExpectedType, ANI_TRUE);
    }

};

static void TestUnboxFromFieldNative(ani_env *env)
{
    ani_class cls {};
    ASSERT_EQ(env->FindClass("@defModule.ani_verify_test_primitive_unbox_{{ type }}.Message", &cls), ANI_OK);

    ani_method ctor {};
    ASSERT_EQ(env->Class_FindMethod(cls, "<ctor>", ":", &ctor), ANI_OK);

    ani_object object {};
    ASSERT_EQ(env->Object_New(cls, ctor, &object), ANI_OK);

    ani_field field {};
    ASSERT_EQ(env->Class_FindField(cls, "value_optional", &field), ANI_OK);

    ani_ref boxedValue {};
    ASSERT_EQ(env->Object_GetField_Ref(object, field, &boxedValue), ANI_OK);

    ani_{{ type }} result {};
    ASSERT_EQ(env->Primitive_Unbox_{{ Type }}(static_cast<ani_object>(boxedValue), &result), ANI_OK);
    ASSERT_EQ(result, PrimitiveUnbox{{ Type }}Test::OPTIONAL_VALUE);
}

TEST_F(PrimitiveUnbox{{ Type }}Test, wrong_env)
{
    ani_object object = BoxValue(TEST_VALUE);
    ani_{{ type }} result {};

    ASSERT_EQ(env_->c_api->Primitive_Unbox_{{ Type }}(nullptr, object, &result), ANI_INVALID_ARGS);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *", "env is nullptr [ERROR]"},
        {"obj", "ani_object"},
        {"result", "ani_{{ type }} *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("Primitive_Unbox_{{ Type }}", testLines);
}

TEST_F(PrimitiveUnbox{{ Type }}Test, wrong_object)
{
    ani_{{ type }} result {};

    ASSERT_EQ(env_->Primitive_Unbox_{{ Type }}(nullptr, &result), ANI_INVALID_ARGS);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"obj", "ani_object", "reference is nullptr [ERROR]"},
        {"result", "ani_{{ type }} *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("Primitive_Unbox_{{ Type }}", testLines);
}

TEST_F(PrimitiveUnbox{{ Type }}Test, null_object)
{
    ani_object object {};
    ASSERT_EQ(env_->GetNull(reinterpret_cast<ani_ref *>(&object)), ANI_OK);
    ani_{{ type }} result {};

    ASSERT_EQ(env_->Primitive_Unbox_{{ Type }}(object, &result), ANI_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"obj", "ani_object", "wrong reference type: null [FATAL]"},
        {"result", "ani_{{ type }} *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("Primitive_Unbox_{{ Type }}", testLines);
}

TEST_F(PrimitiveUnbox{{ Type }}Test, non_boxed_object)
{
    ani_string string {};
    ASSERT_EQ(env_->String_NewUTF8("test", 4U, &string), ANI_OK);
    ani_{{ type }} result {};
    const std::string expectedError = "wrong boxed primitive type, actual: std.core.String, "
                                      "expected: std.core.{{ Type }} [ERROR]";

    ASSERT_EQ(env_->Primitive_Unbox_{{ Type }}(reinterpret_cast<ani_object>(string), &result), ANI_INVALID_TYPE);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"obj", "ani_object", expectedError},
        {"result", "ani_{{ type }} *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("Primitive_Unbox_{{ Type }}", testLines);
}

TEST_F(PrimitiveUnbox{{ Type }}Test, wrong_boxed_type)
{
    ani_object object = BoxWrongTypeValue();
    ani_{{ type }} result {};
{% if type == "byte" %}
    const std::string expectedError = "wrong boxed primitive type, actual: std.core.Char, expected: std.core.Byte [FATAL]";
{% else %}
    const std::string expectedError = "wrong boxed primitive type, actual: std.core.Byte, expected: std.core.{{ Type }} [FATAL]";
{% endif %}

    ASSERT_EQ(env_->Primitive_Unbox_{{ Type }}(object, &result), ANI_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"obj", "ani_object", expectedError},
        {"result", "ani_{{ type }} *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("Primitive_Unbox_{{ Type }}", testLines);
}

TEST_F(PrimitiveUnbox{{ Type }}Test, wrong_result)
{
    ani_object object = BoxValue(TEST_VALUE);

    ASSERT_EQ(env_->Primitive_Unbox_{{ Type }}(object, nullptr), ANI_INVALID_ARGS);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"obj", "ani_object"},
        {"result", "ani_{{ type }} *", "nullptr for storing 'ani_{{ type }}' [ERROR]"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("Primitive_Unbox_{{ Type }}", testLines);
}

TEST_F(PrimitiveUnbox{{ Type }}Test, wrong_all_args)
{
    ASSERT_EQ(env_->c_api->Primitive_Unbox_{{ Type }}(nullptr, nullptr, nullptr), ANI_INVALID_ARGS);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *", "env is nullptr [ERROR]"},
        {"obj", "ani_object", "reference is nullptr [ERROR]"},
        {"result", "ani_{{ type }} *", "nullptr for storing 'ani_{{ type }}' [ERROR]"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("Primitive_Unbox_{{ Type }}", testLines);
}

TEST_F(PrimitiveUnbox{{ Type }}Test, throw_error)
{
    ani_object object = BoxValue(TEST_VALUE);
    ThrowError();

    ani_{{ type }} result {};
    ASSERT_EQ(env_->Primitive_Unbox_{{ Type }}(object, &result), ANI_PENDING_ERROR);
    ASSERT_EQ(env_->ResetError(), ANI_OK);

    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *", "has a pending exception [ERROR]"},
        {"obj", "ani_object"},
        {"result", "ani_{{ type }} *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("Primitive_Unbox_{{ Type }}", testLines);
}

TEST_F(PrimitiveUnbox{{ Type }}Test, success)
{
{% if type == "boolean" %}
    constexpr std::array<ani_{{ type }}, 2U> VALUES {ANI_FALSE, ANI_TRUE};
{% else %}
    constexpr std::array<ani_{{ type }}, 4U> VALUES { {{ min_value }}, {{ max_value }}, {{ zero_value }}, TEST_VALUE };
{% endif %}

    for (auto value : VALUES) {
        ani_object object = BoxValue(value);
        AssertIs{{ Type }}(env_, object);

        ani_{{ type }} result {};
        ASSERT_EQ(env_->Primitive_Unbox_{{ Type }}(object, &result), ANI_OK);
        ASSERT_EQ(result, value);
    }
}

TEST_F(PrimitiveUnbox{{ Type }}Test, ets_optional_field)
{
    ani_module module {};
    ASSERT_EQ(env_->FindModule("@defModule.ani_verify_test_primitive_unbox_{{ type }}", &module), ANI_OK);

    ani_function etsFunc {};
    ASSERT_EQ(env_->Module_FindFunction(module, "testUnboxFromField", ":", &etsFunc), ANI_OK);

    ani_native_function nativeFunc {"testUnboxFromFieldNative", ":",
                                    reinterpret_cast<void *>(TestUnboxFromFieldNative)};
    ASSERT_EQ(env_->Module_BindNativeFunctions(module, &nativeFunc, 1U), ANI_OK);

    ASSERT_EQ(env_->Function_Call_Void(etsFunc), ANI_OK);
}

// NOLINTEND(readability-magic-numbers)

}  // namespace ark::ets::ani::verify::testing
