/**
 * Copyright (c) 2026 Huawei Device Co., Ltd.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#include "verify_ani_gtest.h"

#include <cstdint>
#include <limits>

// NOLINTBEGIN(cppcoreguidelines-pro-type-vararg, readability-magic-numbers)
namespace ark::ets::ani::verify::testing {

class FixedArrayGetRegion{{ Type }}Test : public VerifyAniTest {
protected:
    static constexpr ani_size LENGTH = 3U;
};

TEST_F(FixedArrayGetRegion{{ Type }}Test, wrong_env)
{
    ani_fixedarray_{{ type }} array {};
    ASSERT_EQ(env_->FixedArray_New_{{ Type }}(LENGTH, &array), ANI_OK);

    ani_{{ type }} nativeBuffer[LENGTH] {};
    ASSERT_EQ(env_->c_api->FixedArray_GetRegion_{{ Type }}(nullptr, array, 0U, LENGTH, nativeBuffer), ANI_INVALID_ARGS);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *", "env is nullptr [ERROR]"},
        {"array", "ani_fixedarray_{{ type }}"},
        {"offset", "ani_size"},
        {"length", "ani_size"},
        {"native_buffer", "const void *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("FixedArray_GetRegion_{{ Type }}", testLines);
}

TEST_F(FixedArrayGetRegion{{ Type }}Test, wrong_array)
{
    ani_{{ type }} nativeBuffer[LENGTH] {};
    ASSERT_EQ(env_->FixedArray_GetRegion_{{ Type }}(nullptr, 0U, LENGTH, nativeBuffer), ANI_INVALID_ARGS);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"array", "ani_fixedarray_{{ type }}", "reference is nullptr [ERROR]"},
        {"offset", "ani_size"},
        {"length", "ani_size"},
        {"native_buffer", "const void *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("FixedArray_GetRegion_{{ Type }}", testLines);
}

TEST_F(FixedArrayGetRegion{{ Type }}Test, wrong_array_type)
{
    ani_fixedarray_{{ wrong_type }} array {};
    ASSERT_EQ(env_->FixedArray_New_{{ WrongType }}(LENGTH, &array), ANI_OK);

    ani_{{ type }} nativeBuffer[LENGTH] {};
    ASSERT_EQ(env_->FixedArray_GetRegion_{{ Type }}(reinterpret_cast<ani_fixedarray_{{ type }}>(array), 0U, LENGTH,
                                                    nativeBuffer),
              ANI_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"array", "ani_fixedarray_{{ type }}",
         "wrong reference type: ani_fixedarray_{{ wrong_type }}, expected: ani_fixedarray_{{ type }} [FATAL]"},
        {"offset", "ani_size"},
        {"length", "ani_size"},
        {"native_buffer", "const void *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("FixedArray_GetRegion_{{ Type }}", testLines);
}

TEST_F(FixedArrayGetRegion{{ Type }}Test, wrong_native_buffer)
{
    ani_fixedarray_{{ type }} array {};
    ASSERT_EQ(env_->FixedArray_New_{{ Type }}(LENGTH, &array), ANI_OK);

    ASSERT_EQ(env_->FixedArray_GetRegion_{{ Type }}(array, 0U, LENGTH, nullptr), ANI_INVALID_ARGS);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"array", "ani_fixedarray_{{ type }}"},
        {"offset", "ani_size"},
        {"length", "ani_size"},
        {"native_buffer", "const void *", "native buffer is null [ERROR]"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("FixedArray_GetRegion_{{ Type }}", testLines);
}

TEST_F(FixedArrayGetRegion{{ Type }}Test, zero_length_null_native_buffer)
{
    ani_fixedarray_{{ type }} array {};
    ASSERT_EQ(env_->FixedArray_New_{{ Type }}(LENGTH, &array), ANI_OK);

    ASSERT_EQ(env_->FixedArray_GetRegion_{{ Type }}(array, 0U, 0U, nullptr), ANI_INVALID_ARGS);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"array", "ani_fixedarray_{{ type }}"},
        {"offset", "ani_size"},
        {"length", "ani_size"},
        {"native_buffer", "const void *", "native buffer is null [ERROR]"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("FixedArray_GetRegion_{{ Type }}", testLines);
}

TEST_F(FixedArrayGetRegion{{ Type }}Test, wrong_native_buffer_range)
{
    ani_fixedarray_{{ type }} array {};
    ASSERT_EQ(env_->FixedArray_New_{{ Type }}(LENGTH, &array), ANI_OK);

    auto addr = std::numeric_limits<uintptr_t>::max() - sizeof(ani_{{ type }}) + 1U;
    auto *nativeBuffer = reinterpret_cast<ani_{{ type }} *>(addr);
    ASSERT_EQ(env_->FixedArray_GetRegion_{{ Type }}(array, 0U, 1U, nativeBuffer), ANI_ERROR);
    ASSERT_ERROR_ANI_MSG("FixedArray_GetRegion_{{ Type }}", "wrong native buffer [FATAL]");
}

TEST_F(FixedArrayGetRegion{{ Type }}Test, out_of_range_with_wrong_native_buffer_range)
{
    ani_fixedarray_{{ type }} array {};
    ASSERT_EQ(env_->FixedArray_New_{{ Type }}(LENGTH, &array), ANI_OK);

    auto addr = std::numeric_limits<uintptr_t>::max() - sizeof(ani_{{ type }}) + 1U;
    auto *nativeBuffer = reinterpret_cast<ani_{{ type }} *>(addr);
    ASSERT_EQ(env_->FixedArray_GetRegion_{{ Type }}(array, LENGTH, 1U, nativeBuffer), ANI_OUT_OF_RANGE);
    ASSERT_NO_ABORT_MESSAGE();
}

TEST_F(FixedArrayGetRegion{{ Type }}Test, out_of_range)
{
    ani_fixedarray_{{ type }} array {};
    ASSERT_EQ(env_->FixedArray_New_{{ Type }}(LENGTH, &array), ANI_OK);

    ani_{{ type }} nativeBuffer[LENGTH] {};
    ASSERT_EQ(env_->FixedArray_GetRegion_{{ Type }}(array, LENGTH, 1U, nativeBuffer), ANI_OUT_OF_RANGE);
    ASSERT_NO_ABORT_MESSAGE();
}

TEST_F(FixedArrayGetRegion{{ Type }}Test, throw_error)
{
    ani_fixedarray_{{ type }} array {};
    ASSERT_EQ(env_->FixedArray_New_{{ Type }}(LENGTH, &array), ANI_OK);

    ThrowError();

    ani_{{ type }} nativeBuffer[LENGTH] {};
    ASSERT_EQ(env_->FixedArray_GetRegion_{{ Type }}(array, 0U, LENGTH, nativeBuffer), ANI_PENDING_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *", "has a pending exception [ERROR]"},
        {"array", "ani_fixedarray_{{ type }}"},
        {"offset", "ani_size"},
        {"length", "ani_size"},
        {"native_buffer", "const void *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("FixedArray_GetRegion_{{ Type }}", testLines);
}

TEST_F(FixedArrayGetRegion{{ Type }}Test, success)
{
    ani_fixedarray_{{ type }} array {};
    ASSERT_EQ(env_->FixedArray_New_{{ Type }}(LENGTH, &array), ANI_OK);

    ani_{{ type }} nativeBuffer[LENGTH] {};
    ASSERT_EQ(env_->FixedArray_GetRegion_{{ Type }}(array, 0U, LENGTH, nativeBuffer), ANI_OK);
}

}  // namespace ark::ets::ani::verify::testing

// NOLINTEND(cppcoreguidelines-pro-type-vararg, readability-magic-numbers)
