/**
 * Copyright (c) 2026 Huawei Device Co., Ltd.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

{% set tuple_type = "String, String, String" if type == "ref" else type ~ ", " ~ type ~ ", " ~ type %}
{% set tuple_values = {
    "boolean": "[true, false, true]",
    "char": "[c'x', c'y', c'z']",
    "byte": "[1, 2, 3]",
    "short": "[10, 20, 30]",
    "int": "[100, 200, 300]",
    "long": "[1000, 2000, 3000]",
    "float": "[1.25f, 2.5f, 3.75f]",
    "double": "[1.25, 2.5, 3.75]",
    "ref": '["alpha", "beta", "gamma"]',
} %}
{% set wrong_tuple_type = "boolean, boolean, boolean" if type == "ref" else "Object, Object, Object" %}
{% set wrong_tuple_values = "[true, false, true]" if type == "ref" else "[new Object(), new Object(), new Object()]" %}

function get{{ Type }}Tuple(): [{{ tuple_type }}] {
    return {{ tuple_values[type] }};
}

function getWrong{{ Type }}Tuple(): [{{ wrong_tuple_type }}] {
    return {{ wrong_tuple_values }};
}
