/**
 * Copyright (c) 2026 Huawei Device Co., Ltd.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#include "plugins/ets/tests/ani/tests/verifyani/tuplevalue/verify_tuplevalue_test_utils.h"

// NOLINTBEGIN(readability-magic-numbers)

namespace ark::ets::ani::verify::testing {

class TupleValueSetItem{{ Type }}Test : public VerifyAniTupleValueTestBase {
protected:
    static constexpr std::string_view MODULE_NAME = "ani_verify_test_tuplevalue_set_item_{{ type }}";
    static constexpr ani_size VALID_INDEX = 0U;
    static constexpr ani_size OUT_OF_RANGE_INDEX = 3U;
{% if type != "ref" %}
    static constexpr ani_{{ type }} VALID_VALUE = {{ valid_cpp_value }};
    static constexpr ani_{{ type }} UPDATED_VALUE = {{ updated_cpp_value }};
{% endif %}
{% if type == "boolean" %}
    static constexpr ani_boolean INVALID_VALUE = 2;
{% endif %}

    ani_tuple_value GetValidTuple()
    {
        return GetTupleWithCheck(MODULE_NAME, "get{{ Type }}Tuple");
    }
};

TEST_F(TupleValueSetItem{{ Type }}Test, wrong_env)
{
    ani_tuple_value tupleValue = GetValidTuple();
{% if type == "ref" %}
    ani_string value {};
    CreateString("tuplevalue-item", &value);
    ASSERT_EQ(env_->c_api->TupleValue_SetItem_{{ Type }}(nullptr, tupleValue, VALID_INDEX, value), ANI_INVALID_ARGS);
{% else %}
    const ani_{{ type }} value = VALID_VALUE;
    ASSERT_EQ(env_->c_api->TupleValue_SetItem_{{ Type }}(nullptr, tupleValue, VALID_INDEX, value), ANI_INVALID_ARGS);
{% endif %}
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *", "env is nullptr [ERROR]"},
        {"tuple_value", "ani_tuple_value"},
        {"index", "ani_size"},
        {"value", "ani_{{ type }}"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_{{ Type }}", testLines);
}

TEST_F(TupleValueSetItem{{ Type }}Test, wrong_tuple)
{
{% if type == "ref" %}
    ani_string value {};
    CreateString("tuplevalue-item", &value);
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(nullptr, VALID_INDEX, value), ANI_INVALID_ARGS);
{% else %}
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(nullptr, VALID_INDEX, VALID_VALUE),
              ANI_INVALID_ARGS);
{% endif %}
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"tuple_value", "ani_tuple_value", "reference is nullptr [ERROR]"},
        {"index", "ani_size"},
        {"value", "ani_{{ type }}"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_{{ Type }}", testLines);
}

TEST_F(TupleValueSetItem{{ Type }}Test, expired_local_scope_tuple)
{
    ani_tuple_value tupleValue = GetTupleFromExpiredLocalScope(MODULE_NAME, "get{{ Type }}Tuple");
{% if type == "ref" %}
    ani_string value {};
    CreateString("tuplevalue-item", &value);
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(tupleValue, VALID_INDEX, value), ANI_ERROR);
{% else %}
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(tupleValue, VALID_INDEX, VALID_VALUE),
              ANI_ERROR);
{% endif %}
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"tuple_value", "ani_tuple_value", "reference not found (may be deleted, out of scope, or corrupted) [FATAL]"},
        {"index", "ani_size"},
        {"value", "ani_{{ type }}"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_{{ Type }}", testLines);
}

TEST_F(TupleValueSetItem{{ Type }}Test, null_input_tuple)
{
    ani_tuple_value tupleValue {};
    ASSERT_EQ(env_->GetNull(reinterpret_cast<ani_ref *>(&tupleValue)), ANI_OK);
{% if type == "ref" %}
    ani_string value {};
    CreateString("tuplevalue-item", &value);
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(tupleValue, VALID_INDEX, value), ANI_ERROR);
{% else %}
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(tupleValue, VALID_INDEX, VALID_VALUE),
              ANI_ERROR);
{% endif %}
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"tuple_value", "ani_tuple_value", "wrong reference type: null [FATAL]"},
        {"index", "ani_size"},
        {"value", "ani_{{ type }}"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_{{ Type }}", testLines);
}

TEST_F(TupleValueSetItem{{ Type }}Test, undefined_input_tuple)
{
    ani_tuple_value tupleValue {};
    ASSERT_EQ(env_->GetUndefined(reinterpret_cast<ani_ref *>(&tupleValue)), ANI_OK);
{% if type == "ref" %}
    ani_string value {};
    CreateString("tuplevalue-item", &value);
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(tupleValue, VALID_INDEX, value), ANI_ERROR);
{% else %}
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(tupleValue, VALID_INDEX, VALID_VALUE),
              ANI_ERROR);
{% endif %}
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"tuple_value", "ani_tuple_value", "wrong reference type: undefined [FATAL]"},
        {"index", "ani_size"},
        {"value", "ani_{{ type }}"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_{{ Type }}", testLines);
}

TEST_F(TupleValueSetItem{{ Type }}Test, object_input_tuple)
{
    ani_object object {};
    CreateObject(&object);
{% if type == "ref" %}
    ani_string value {};
    CreateString("tuplevalue-item", &value);
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(reinterpret_cast<ani_tuple_value>(object),
                                                         VALID_INDEX, value),
              ANI_ERROR);
{% else %}
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(reinterpret_cast<ani_tuple_value>(object), VALID_INDEX,
                                                         VALID_VALUE),
              ANI_ERROR);
{% endif %}
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"tuple_value", "ani_tuple_value", "wrong reference type: ani_object [FATAL]"},
        {"index", "ani_size"},
        {"value", "ani_{{ type }}"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_{{ Type }}", testLines);
}

TEST_F(TupleValueSetItem{{ Type }}Test, string_input_tuple)
{
    ani_string string {};
    CreateString("tuple-value", &string);
{% if type == "ref" %}
    ani_string value {};
    CreateString("tuplevalue-item", &value);
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(reinterpret_cast<ani_tuple_value>(string),
                                                         VALID_INDEX, value),
              ANI_ERROR);
{% else %}
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(reinterpret_cast<ani_tuple_value>(string), VALID_INDEX,
                                                         VALID_VALUE),
              ANI_ERROR);
{% endif %}
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"tuple_value", "ani_tuple_value", "wrong reference type: ani_string [FATAL]"},
        {"index", "ani_size"},
        {"value", "ani_{{ type }}"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_{{ Type }}", testLines);
}

TEST_F(TupleValueSetItem{{ Type }}Test, error_input_tuple)
{
    ani_error aniError {};
    CreateError(&aniError);
{% if type == "ref" %}
    ani_string value {};
    CreateString("tuplevalue-item", &value);
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(reinterpret_cast<ani_tuple_value>(aniError),
                                                         VALID_INDEX, value),
              ANI_ERROR);
{% else %}
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(reinterpret_cast<ani_tuple_value>(aniError), VALID_INDEX,
                                                         VALID_VALUE),
              ANI_ERROR);
{% endif %}
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"tuple_value", "ani_tuple_value", "wrong reference type: ani_error [FATAL]"},
        {"index", "ani_size"},
        {"value", "ani_{{ type }}"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_{{ Type }}", testLines);
}

TEST_F(TupleValueSetItem{{ Type }}Test, array_input_tuple)
{
    ani_array array {};
    CreateArray(3U, &array);
{% if type == "ref" %}
    ani_string value {};
    CreateString("tuplevalue-item", &value);
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(reinterpret_cast<ani_tuple_value>(array),
                                                         VALID_INDEX, value),
              ANI_ERROR);
{% else %}
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(reinterpret_cast<ani_tuple_value>(array), VALID_INDEX,
                                                         VALID_VALUE),
              ANI_ERROR);
{% endif %}
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"tuple_value", "ani_tuple_value", "wrong reference type: ani_array [FATAL]"},
        {"index", "ani_size"},
        {"value", "ani_{{ type }}"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_{{ Type }}", testLines);
}

TEST_F(TupleValueSetItem{{ Type }}Test, wrong_all_args)
{
{% if type == "ref" %}
    ASSERT_EQ(env_->c_api->TupleValue_SetItem_{{ Type }}(nullptr, nullptr, VALID_INDEX, nullptr), ANI_INVALID_ARGS);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *", "env is nullptr [ERROR]"},
        {"tuple_value", "ani_tuple_value", "reference is nullptr [ERROR]"},
        {"index", "ani_size"},
        {"value", "ani_{{ type }}", "reference is nullptr [ERROR]"},
    };
{% elif type == "boolean" %}
    ASSERT_EQ(env_->c_api->TupleValue_SetItem_{{ Type }}(nullptr, nullptr, VALID_INDEX, INVALID_VALUE), ANI_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *", "env is nullptr [ERROR]"},
        {"tuple_value", "ani_tuple_value", "reference is nullptr [ERROR]"},
        {"index", "ani_size"},
        {"value", "ani_{{ type }}", "wrong value for ani_boolean [FATAL]"},
    };
{% else %}
    ASSERT_EQ(env_->c_api->TupleValue_SetItem_{{ Type }}(nullptr, nullptr, VALID_INDEX, VALID_VALUE),
              ANI_INVALID_ARGS);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *", "env is nullptr [ERROR]"},
        {"tuple_value", "ani_tuple_value", "reference is nullptr [ERROR]"},
        {"index", "ani_size"},
        {"value", "ani_{{ type }}"},
    };
{% endif %}
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_{{ Type }}", testLines);
}

TEST_F(TupleValueSetItem{{ Type }}Test, wrong_type)
{
    ani_tuple_value tupleValue = GetTupleWithCheck(MODULE_NAME, "getWrong{{ Type }}Tuple");
{% if type == "ref" %}
    ani_string value {};
    CreateString("tuplevalue-item", &value);
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(tupleValue, VALID_INDEX, value), ANI_OK);
{% else %}
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(tupleValue, VALID_INDEX, VALID_VALUE),
              ANI_OK);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"tuple_value", "ani_tuple_value"},
        {"index", "ani_size", "wrong tuple element type at this index [ERROR]"},
        {"value", "ani_{{ type }}"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_{{ Type }}", testLines);
{% endif %}

}

TEST_F(TupleValueSetItem{{ Type }}Test, throw_error)
{
    ani_tuple_value tupleValue = GetValidTuple();
{% if type == "ref" %}
    ani_string value {};
    CreateString("tuplevalue-item", &value);
{% endif %}
    ThrowError();
{% if type == "ref" %}
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(tupleValue, VALID_INDEX, value), ANI_PENDING_ERROR);
{% else %}
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(tupleValue, VALID_INDEX, VALID_VALUE),
              ANI_PENDING_ERROR);
{% endif %}
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *", "has a pending exception [ERROR]"},
        {"tuple_value", "ani_tuple_value"},
        {"index", "ani_size"},
        {"value", "ani_{{ type }}"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_{{ Type }}", testLines);
}

TEST_F(TupleValueSetItem{{ Type }}Test, index_out_of_range)
{
    ani_tuple_value tupleValue = GetValidTuple();
{% if type == "ref" %}
    ani_string value {};
    CreateString("tuplevalue-item", &value);
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(tupleValue, OUT_OF_RANGE_INDEX, value),
              ANI_OUT_OF_RANGE);
{% else %}
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(tupleValue, OUT_OF_RANGE_INDEX, VALID_VALUE),
              ANI_OUT_OF_RANGE);
{% endif %}
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"tuple_value", "ani_tuple_value"},
        {"index", "ani_size", "tuple index out of range: index 3, length 3 [ERROR]"},
        {"value", "ani_{{ type }}"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_{{ Type }}", testLines);
}

{% if type == "boolean" %}
TEST_F(TupleValueSetItemBooleanTest, wrong_value)
{
    ani_tuple_value tupleValue = GetValidTuple();

    ASSERT_EQ(env_->TupleValue_SetItem_Boolean(tupleValue, VALID_INDEX, INVALID_VALUE), ANI_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"tuple_value", "ani_tuple_value"},
        {"index", "ani_size"},
        {"value", "ani_boolean", "wrong value for ani_boolean [FATAL]"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_Boolean", testLines);
}
{% endif %}

{% if type == "ref" %}
TEST_F(TupleValueSetItemRefTest, wrong_value)
{
    ani_tuple_value tupleValue = GetValidTuple();

    ASSERT_EQ(env_->TupleValue_SetItem_Ref(tupleValue, VALID_INDEX, nullptr), ANI_INVALID_ARGS);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"tuple_value", "ani_tuple_value"},
        {"index", "ani_size"},
        {"value", "ani_ref", "reference is nullptr [ERROR]"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("TupleValue_SetItem_Ref", testLines);
}
{% endif %}

TEST_F(TupleValueSetItem{{ Type }}Test, success)
{
    ani_tuple_value tupleValue = GetValidTuple();
{% if type == "ref" %}
    ani_string value {};
    CreateString("tuplevalue-updated", &value);
    ASSERT_EQ(env_->TupleValue_SetItem_Ref(tupleValue, VALID_INDEX, value), ANI_OK);

    ani_ref result {};
    ASSERT_EQ(env_->TupleValue_GetItem_Ref(tupleValue, VALID_INDEX, &result), ANI_OK);
    AssertStringRefEqual(result, "tuplevalue-updated");
{% else %}
    ASSERT_EQ(env_->TupleValue_SetItem_{{ Type }}(tupleValue, VALID_INDEX, UPDATED_VALUE),
              ANI_OK);

    ani_{{ type }} result {};
    ASSERT_EQ(env_->TupleValue_GetItem_{{ Type }}(tupleValue, VALID_INDEX, &result), ANI_OK);
    AssertAniValueEqual(result, UPDATED_VALUE);
{% endif %}
}

}  // namespace ark::ets::ani::verify::testing

// NOLINTEND(readability-magic-numbers)
